@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
} */

body {
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-playfair);
  letter-spacing: 0.02em;
  /* background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}

p,
h3,
h4,
a {
  font-family: var(--font-open);
  letter-spacing: 0.04em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .body {
    font-size: 16px;
    line-height: 27.52px;
    letter-spacing: 0.04em;
  }

  .body-small {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
  }

  .caption {
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.03em;
  }

  .button {
    font-size: 16px;
    line-height: 15px;
    letter-spacing: 0.04em;
  }

  .h0 {
    font-size: 40px;
    line-height: 52.32px;
  }

  .h1 {
    font-size: 30px;
    line-height: 39.24px;
  }

  .h2 {
    font-size: 20px;
    line-height: 26.16px;
  }

  .h3 {
    font-size: 17px;
    line-height: 22.24px;
  }

  .h4 {
    font-size: 16px;
    line-height: 21px;
  }

  @media screen and (min-width: 768px) {
    .h0 {
      font-size: 52px;
      line-height: 68.02px;
    }

    .h1 {
      font-size: 40px;
      line-height: 52.32px;
    }

    .h2 {
      font-size: 24px;
      line-height: 31.39px;
    }

    .h3 {
      font-size: 18px;
      line-height: 20.88px;
    }

    .h4 {
      font-size: 16px;
      line-height: 21px;
    }

  }

  h1 {
    @apply h1;
  }

  h2 {
    @apply h2;
  }

  h3 {
    @apply h3;
  }

  h4 {
    @apply h4;
  }

  body,
  p,
  a,
  button,
  input,
  textarea,
  li {
    @apply body;
  }

  .shadow-small {
    box-shadow: 0px -1px 0px 0px #E1E3E5 inset;
  }

  a {
    @apply cursor-pointer;
  }

  .font-open {
    font-family: var(--font-open);
  }

  .font-playfair {
    font-family: var(--font-playfair);
  }
}

@layer components {
  .field-input {
    @apply mt-1 py-2 px-4 block w-full rounded-md shadow-sm;
    border: 1px solid #E1E3E5;
  }

  .field-input:focus {
    border: 1px solid #007bff;
    outline: none;
  }
}


.normal-ratio {
  @apply w-full h-full relative overflow-hidden pt-[56.25%];
}

.square-ratio {
  @apply w-full h-full relative overflow-hidden pt-[100%];
}

.img-ratio {
  @apply object-center absolute w-full h-full inset-0;
}

/* Styles */
.link-outline {
  @apply relative inline-block;
}

.link-outline::after {
  @apply absolute -bottom-2 left-1/2 w-10/12 h-1 bg-black transform -translate-x-1/2;
  content: '';
  z-index: -1;
}

.button {
  @apply border border-black inline-block p-4 bg-black text-white;
}

.button:hover {
  @apply transition-colors;
}

.button-outline {
  @apply border-white bg-transparent;
}

.button-outline:hover {
  @apply border-light text-light;
}

.menu-link {
  @apply relative inline-block;
}

.menu-link::after {
  @apply absolute bottom-0 left-0 w-[0] h-[2px] bg-white;
  content: '';
}

.menu-link:hover::after {
  @apply w-full;
  transition: width 0.3s ease-in-out;
}